.site-title__title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
.site-title__subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 400;
  color: #262626;
  line-height: 1.7em;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  html {
    background: #262626;
  }
  body {
    color: #fff;
  }
}
*:focus {
  background: #FFDB09;
  border-color: #FFDB09;
  color: #262626;
  outline: max(2px, 0.25rem) solid #159BC8;
  outline-offset: 4px;
}
a {
  background-color: transparent;
  color: #262626;
  position: relative;
  text-decoration: underline;
  text-decoration-thickness: max(2px, 0.25rem);
  text-decoration-color: #159BC8;
  -webkit-transition: background-color 0.2s, color 0.2s ease-in-out;
  transition: background-color 0.2s, color 0.2s ease-in-out;
}
a:hover,
a:active {
  color: #262626;
  text-decoration-thickness: max(4px, 0.35rem);
}
p {
  display: block;
  line-height: 2;
  margin: 0 0 2rem 0;
}
::-moz-selection {
  background: #FFDB09;
}
::selection {
  background: #FFDB09;
}
::-moz-selection {
  background: #FFDB09;
}
a::-moz-selection {
  background: #159BC8;
  color: #fff;
}
a::selection {
  background: #159BC8;
  color: #fff;
}
a::-moz-selection {
  background: #159BC8;
  color: #fff;
}
@media (prefers-color-scheme: dark) {
  ::-moz-selection {
    background: #FFDB09;
    color: #262626;
  }
  ::selection {
    background: #FFDB09;
    color: #262626;
  }
  ::-moz-selection {
    background: #FFDB09;
    color: #262626;
  }
  a {
    color: #fff;
  }
  a:hover,
  a:active {
    color: #fff;
  }
  a:focus {
    color: #262626;
  }
}
h1,
.h1 {
  font-size: 3rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}
h2,
.h2 {
  font-size: 2rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}
h3,
.h3 {
  font-size: 1.75rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}
h4,
.h4 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}
h5,
.h5 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}
h6,
.h6 {
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0 0 1rem 0;
}
abbr {
  cursor: help;
}
.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1rem;
}
.main-content {
  padding: clamp(32px, 5vw, 48px) 0;
}
.main-content > .container > * {
  max-width: 700px;
}
.main-content > .container > *:last-child {
  margin-bottom: 0;
}
.footer {
  background-color: #e2e0e0;
  clear: both;
  display: block;
  padding: clamp(16px, 2.5vw, 32px) 0;
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  .footer {
    background-color: #222;
  }
}
.header {
  border-bottom: 1px solid #e2e0e0;
  clear: both;
  display: block;
  padding: clamp(16px, 2.5vw, 32px) 0;
  width: 100%;
}
