@body: 'Merriweather', serif;

@link-color:#159BC8;
@link-hover:#FFDB09;
@text:@black;
@black:#202b3a;
@grey--dark:#2b3647;
@grey:#374358;
@grey--medium:#cfe1e7;
@grey--light:#d9edf3;
@white:#ecf8ff;

//TRANISTION
.transition(@transition:all 0.2s ease-in-out) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}